@import url('https://fonts.googleapis.com/css2?family=Lora&family=Martel+Sans:wght@400;700&display=swap');

:root {
    --primary-main: #000000;
    --secondary-main: rgb(117, 117, 117);
    --background-main: #FFFFFF;
    --background-secondary: rgba(250, 250, 250, 1);
  
    /* Font System */
  
    /* Font face */
    --primary-font: 'Martel Sans', sans-serif;
    --secondary-font: 'Lora', sans-serif;
    
    /* Font Sizes */
    --font-size-body: 21px;
    --line-height-body: 32px;
  
    /* Borders */
    --border-thickness: 1px;
    --border-color: rgba(0, 0, 0, 0.1);
  }

body {
    background-color: var(--background-main);
    font-family: var(--secondary-font);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
 nav {
    font-family: var(--primary-font);
    font-weight: 400;
    border-bottom: solid var(--border-thickness) var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
 }

 nav > ul:last-of-type {
   display: flex;
   gap: 16px;
 }

 nav li {
    list-style-type: none;
 }

 nav li a {
    text-decoration: none;
    color: inherit;
 }

 h1 {
    font-family: var(--primary-font);
    font-weight: 700;
 }

 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
 }

 .post-preview h2 {
    font-family: var(--primary-font);
 }

 .post-preview p {
   font-family: var(--secondary-font);
}

 .container > div {
    max-width: 680px;
 }

 .content p {
    margin-bottom: 32px;
 }

 .content li {
    margin-bottom: 16px;
 }

 .pre-footer {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
 }

 .pre-footer > div {
    max-width: 860px;
 }

 .pre-footer .about {
    font-family: var(--primary-font);
    font-weight: 700;

 }

 footer {
    background-color: black;
    color: white;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
 }

 footer a {
    text-decoration: none;
    color: inherit;
 }

 .created-at {
    color: var(--secondary-main);
    font-size: 16px;
    font-family: var(--primary-font);
 }

 .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .post-meta a {
    text-decoration: none;
    color: inherit;
 }

 .post-image {
    width: 100%;
 }

 .tags {
    display: flex;
    gap: 16px;
    padding: 32px 0;
 }

 .tags > span {
    font-family: 'Martel Sans';
    font-size: 16px;
    background: rgb(242, 242, 242);;
    padding: 0 8px;
    border-radius: 4px;
    padding-top: 4px;
 }

.summary-container {
   font-family: var(--primary-font);
   padding-bottom: 32px;
}

 .summary-container a {
   text-decoration: none;
   color: inherit;
 }

 .summary-container p {
    font-family: var(--secondary-font);
 }

 .summary-container:not(:last-of-type) {
   border-bottom: solid var(--border-thickness) var(--border-color);
   margin-bottom: 64px;
 }

 .summary-container .image-container {
    max-height: 450px;
    overflow: hidden;
    margin: 32px 0px;
 }

 .summary-container .image-container img {
   width: 100%;
 }

 .inline-code-snippet {
   padding: 2px;
   font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
   background-color: rgb(242, 242, 242);
   font-size: 75%;
 }

 .alert-success {
   color: #155724;
   background-color: #d4edda;
   border-color: #c3e6cb;
}
.alert-danger {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
}
.alert {
   position: relative;
   padding: 0.75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: 0.25rem;
   margin: 4px;
}

 @media only screen and (max-width: 900px) {
    .pre-footer {
      padding-left: 32px;
      padding-right: 32px;
    }
   
 }

 @media only screen and (max-width: 750px) {
   .container {
     max-width: 100%;
     padding: 32px;
   }
  
}

@media only screen and (max-width: 680px) {
   .container > div {
     max-width: 100%;
   }

   h1 {
      
      font-size: 5vw;
    }

   .gist-data {
      max-width: 600px;
   }
}

@media only screen and (max-width: 550px) {
   .container {
     padding-left: 64px;
     padding-right: 64px;
   }
  
}

.all-auth-signup {
   display: flex;
   justify-content: center;
}

.all-auth-signup p {
   font-family: var(--primary-font);
}

.all-auth-signup > div {
   max-width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 48px 24px;
}

.all-auth-signup form {
   font-family: var(--primary-font);
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.all-auth-signup form p {
   display: flex;
   flex-direction: column;
   margin: 0;
}

.all-auth-signup form p label {
   font-size: 16px;
   font-weight: bold;
}

.all-auth-signup form p input {
   padding: 8px;
}

.all-auth-signup form button {
   border: none;
    border-radius: 5px;
    padding: 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.reset-password {
   border: none;
    border-radius: 5px;
    padding: 16px;
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}