@import url('https://fonts.googleapis.com/css2?family=Lora&family=Martel+Sans:wght@400;700&display=swap');

:root {
    --primary-main: #000000;
    --secondary-main: rgb(117, 117, 117);
    --background-main: #FFFFFF;
    --background-secondary: rgba(250, 250, 250, 1);
  
    /* Font System */
  
    /* Font face */
    --primary-font: 'Martel Sans', sans-serif;
    --secondary-font: 'Lora', sans-serif;
    
    /* Font Sizes */
    --font-size-body: 21px;
    --line-height-body: 32px;
  
    /* Borders */
    --border-thickness: 1px;
    --border-color: rgba(0, 0, 0, 0.1);
  }

body {
    background-color: var(--background-main);
    font-family: var(--secondary-font);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    margin: 0;
}
 nav {
    font-family: var(--primary-font);
    font-weight: 400;
    border-bottom: solid var(--border-thickness) var(--border-color);
 }

 nav li {
    list-style-type: none;
 }

 nav li a {
    text-decoration: none;
    color: inherit;
 }

 h1 {
    font-family: var(--primary-font);
    font-weight: 700;
 }

 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
 }

 .container > div {
    max-width: 680px;
 }

 .content {

 }

 .content p {
    margin-bottom: 32px;
 }

 .content li {
    margin-bottom: 16px;
 }

 .pre-footer {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
 }

 .pre-footer > div {
    max-width: 860px;
 }

 .pre-footer .about {
    font-family: var(--primary-font);
    font-weight: 700;

 }

 footer {
    background-color: black;
    color: white;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 footer a {
    text-decoration: none;
    color: inherit;
 }

 .created-at {
    color: var(--secondary-main);
    font-size: 16px;
    font-family: var(--primary-font);
 }

 .post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .post-meta a {
    text-decoration: none;
    color: inherit;
 }

 .tags {
    display: flex;
    gap: 16px;
    padding: 32px 0;
 }

 .tags > span {
    font-family: 'Martel Sans';
    font-size: 16px;
    background: rgb(242, 242, 242);;
    padding: 0 8px;
    border-radius: 4px;
    padding-top: 4px;
 }