{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ site_settings.title}}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav>
        <div>
            <div>
                <ul>
                    <li>
                        <a aria-current="page" href="{% url 'home' %}">{{ site_settings.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <div class="pre-footer">
        <div>
            <p class="about">
                About John McDowell
            </p>
            <p>
                Software engineer at Microsoft. I love learning about React, Redux, Python, Django and every other exciting language and framework.
            </p>
        </div>
    </div>
    <footer>
            <div>
                <a href="{{ site_settings.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="{{ site_settings.github }}" target="_blank"><i class="fab fa-github"></i></a>
            </div>
    </footer>
</body>

</html>
