<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ site_settings.title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav>
                <ul>
                    <li>
                        <a aria-current="page" href="{% url 'home' %}">{{ site_settings.title}}</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label id="dark-mode-toggle" class="dark-mode-toggle switch" aria-label="toggle dark mode">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="login">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    <li class="register">
                        <a href="{% url 'account_signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
    </nav>

    <main>
        {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </main>
    {% if user.is_authenticated %}
    <div class="pre-footer">
        <div>
            <p class="about">
                About John McDowell
            </p>
            <p>
                Software engineer at Microsoft. I love learning about React, Redux, Python, Django and every other exciting language and framework.
            </p>
        </div>
    </div>
    {% endif %}
    <footer>
            <div>
                <a href="{{ site_settings.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="{{ site_settings.github }}" target="_blank"><i class="fab fa-github"></i></a>
            </div>
    </footer>
</body>
<script src="/static/js/darkmode.js"></script>
</html>
