{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="content">
        <div>
            <div>
                <h1>{{ post.title }}</h1>
                <div class="post-meta">
                    <p class="created-at">{{ post.created_at|date:"d M Y" }}</p>
                    <div class="socials">
                        <a href="{{ site_settings.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="{{ site_settings.github }}" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div>
                {% if "placeholder" in post.featured_image.url %}
                {% else %}
                <img class="post-image" alt="post image" src=" {{ post.featured_image.url }}">
                {% endif %}
            </div>
            <div class="share">
                <button id="shareBtn" class="btn"><i class="fas fa-share-square"></i>
                </button>
            </div>
            <div class="content">
                <p>{{ post.excerpt | safe }}</p>
                {{ post.parsed_content | safe }}
            </div>
            <div class="tags">
                {% for tag in tags %}
                <span>
                    {{ tag.name }}
                </span>
                {% endfor %}
            </div>
            <div>
                {% with comments.count as total_comments %}
                <strong><i class="far fa-comments"></i>
                    {{ total_comments }}</strong>
                {% endwith %}
            </div>
            <div>
                <div>
                    <h3>Comments:</h3>
                    <div>
                        {% for comment in comments %}
                        <div>
                            <p>
                                {{ comment.name }}
                                <span>
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                        {% if user.is_authenticated and user == comment.created_by %}
                        <a class="update-delete" href="{% url 'update_comment' comment.id %}">Update</a>
                        <a class="update-delete" href="{% url 'delete_comment' comment.id %}">Delete</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <div>
                    <div>
                    
                        {% if commented %}
                        <div role="alert">
                            Your comment is awaiting approval
                        </div>
                        {% else %}
                        {% if user.is_authenticated %}
        
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="post">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit">Submit</button>
                        </form>
                        
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                
        </div>
    </div>
</div>
</div>

<script src="/static/js/share.js"></script>
{% endblock content %}
